<h1 *ngIf="metadata !== undefined">
  <ng-container [ngSwitch]="issueType">
    <ng-container *ngSwitchCase="'error'">
      <span class="mat-h1">
        <ng-container *ngIf="metadata.type; else errorTitleFunction">
          {{ metadata.type }}
        </ng-container>
        <ng-template #errorTitleFunction>
          {{ metadata.function || "&lt;unknown&gt;" }}
        </ng-template></span
      ><span class="mat-h3">{{ culprit }}</span>
    </ng-container>
    <ng-container *ngSwitchCase="'csp'">
      <span class="mat-h1">{{ metadata.directive || "" }}</span>
      <span class="mat-h3">{{ metadata.uri }}</span>
    </ng-container>
    <ng-container *ngSwitchCase="'expectct' || 'expectstaple' || 'hpkp'">
      <span class="mat-h1">{{ metadata.message || "" }}</span>
      <span class="mat-h3">{{ metadata.origin }}</span>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <span class="mat-h1">{{ metadata.title }}</span>
    </ng-container>
  </ng-container>
  <p class="mat-subtitle-2">
    <ng-container [ngSwitch]="issueType">
      <ng-container *ngSwitchCase="'error'">{{ metadata.value }}</ng-container>
      <ng-container *ngSwitchCase="'csp'">{{ metadata.message }}</ng-container>
      <ng-container *ngSwitchCase="'expectct' || 'expectstaple' || 'hpkp'"
        ><!--blank--></ng-container
      >
      <ng-container *ngSwitchDefault> {{ culprit }}</ng-container>
    </ng-container>
  </p>
</h1>
