@import "variables";

header {
  margin-top: -16px;

  h1 {
    margin-top: 20px;
    margin-bottom: 0px;
    text-overflow: wrap;
    overflow-wrap: break-word;
  }
}

mat-card {
  margin-top: 20px;
  margin-bottom: 20px;

  mat-card-content {
    padding-top: 16px;

    div {
      display: flex;
      flex-direction: column;
      width: 100%;

      button {
        margin-top: 10px;
        width: fit-content;
      }
    }
  }
}

.interval {
  margin-bottom: 4px;
}

.reduced-padding {
  padding-top: 4px !important;
}

mat-progress-spinner {
  margin-left: auto;
  margin-right: auto;
}

.url-display {
  a {
    display: inline-block;
    text-overflow: wrap;
    overflow-wrap: break-word;
  }
}

// Duplicating these because :after not available without content

.status-indicator--true {
  width: 100%;
  border-top: 8px solid #54a65a;
}

.status-indicator--false {
  width: 100%;
  border-top: 8px solid $amaranth;
}

.status-indicator-- {
  width: 100%;
  border-top: 8px solid gray;
}
