<p
  *ngIf="projectFormOptionsGroup?.errors?.selectionRequired"
  class="error alert-form-error"
>
  Please select events or uptime monitor triggers for your alert.
</p>

<form
  class="flex-common"
  (ngSubmit)="onSubmit()"
  [formGroup]="projectAlertForm"
>
  <div>
    <mat-checkbox
      data-cy="error-check"
      [checked]="projectFormErrorAlert.value"
      (change)="toggleErrorAlerts()"
    >
      <span class="mat-body-1">
        If&nbsp;an&nbsp;<span
          class="tooltip"
          matTooltip="An event is every occurrence of the same error (aka: issue) in your application."
          >event</span
        >&nbsp;happens&nbsp;</span
      >
    </mat-checkbox>
    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>Quantity</mat-label>
      <input
        matInput
        data-cy="quantity"
        min="0"
        max="10000"
        type="number"
        autocomplete="off"
        (click)="toggleFromInput()"
        formControlName="quantity"
        placeholder="#"
        [errorStateMatcher]="newAlert ? newFormMatcher : matcher"
      />
      <mat-error *ngIf="projectFormQuantity?.errors">
        <span *ngIf="projectFormQuantity?.errors?.min"
          >The quantity needs to be greater than or equal to 0.</span
        >
        <span *ngIf="projectFormQuantity?.errors?.invalidNumber"
          >Enter a number.
        </span>
        <span *ngIf="projectFormQuantity?.errors?.required"
          >This field is required.</span
        >
      </mat-error>
    </mat-form-field>
    <span
      >time<span *ngIf="projectFormQuantity?.value !== 1">s</span>&nbsp;in</span
    >
    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>Timespan</mat-label>
      <input
        matInput
        min="0"
        max="10000"
        type="number"
        autocomplete="off"
        (click)="toggleFromInput()"
        formControlName="timespan_minutes"
        placeholder="#"
        [errorStateMatcher]="newAlert ? newFormMatcher : matcher"
      />
      <mat-error *ngIf="projectFormTimespan?.errors">
        <span *ngIf="projectFormTimespan?.errors?.min"
          >The timespan needs to be greater than or equal to 0.</span
        >
        <span *ngIf="projectFormTimespan?.errors?.invalidNumber"
          >Enter a number.
        </span>
        <span *ngIf="projectFormTimespan?.errors?.required"
          >This field is required.</span
        >
      </mat-error>
    </mat-form-field>
    <span
      >minute<span *ngIf="projectFormTimespan?.value !== 1">s</span
      >,&nbsp;send&nbsp;an&nbsp;email.</span
    >

    <div class="uptime-option" formGroupName="optionsGroup">
      <mat-checkbox data-cy="uptime-check" formControlName="uptime"
        ><span class="mat-body-1"
          >If an uptime monitor is triggered.</span
        ></mat-checkbox
      >
    </div>
  </div>
  <div class="update" data-cy="update-container">
    <gt-loading-button
      *ngIf="!newAlert"
      buttonText="Update"
      [disabled]="
        projectFormTimespan.value === timespan &&
        projectFormQuantity.value === quantity &&
        projectFormUptime.value === uptime
      "
      buttonStyle="stroked"
      [loading]="loading === true"
    ></gt-loading-button>
  </div>
</form>
