.auth-form-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 16px;
}

.auth-form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  mat-card-header {
    justify-content: center;
  }

  h3 {
    text-align: center;
    margin: 0;
  }

  form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .server-error {
    min-height: 42px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  mat-form-field {
    margin-bottom: 10px;

    @media screen and (max-width: $small - 1) {
      margin-bottom: 20px;
    }
  }

  mat-error span {
    padding-right: 16px;
  }

  .sign-up {
    margin-top: 32px;
    padding-bottom: 16px;
    text-align: center;

    a {
      margin-left: 4px;
    }
  }
}
