<mat-card>
  <mat-card-header>
    <mat-card-title>Email Addresses</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <ul>
      <li *ngFor="let email of emailAddresses$ | async" class="email-list-item">
        <div class="email-info">
          <span>{{ email.email }}</span>
          <mat-chip-set
            *ngIf="email.isPrimary || !email.isVerified"
            role="list"
          >
            <mat-chip
              color="primary"
              highlighted="true"
              *ngIf="email.isPrimary"
              role="listitem"
            >
              Primary
            </mat-chip>
            <mat-chip color="primary" *ngIf="!email.isVerified" role="listitem">
              Unverified
            </mat-chip>
          </mat-chip-set>
        </div>
        <div class="email-actions">
          <gt-loading-button
            *ngIf="!email.isVerified"
            buttonText="Resend confirmation"
            [loading]="
              (loadingStates$ | async)?.resendConfirmation === email.email
            "
            (click)="resendConfirmation(email.email)"
            buttonStyle="stroked"
          ></gt-loading-button>
          <gt-loading-button
            *ngIf="!email.isPrimary && email.isVerified"
            buttonText="Make primary"
            [loading]="(loadingStates$ | async)?.makePrimary === email.email"
            (click)="makePrimary(email.email)"
            buttonStyle="stroked"
          ></gt-loading-button>
          <div
            *ngIf="(loadingStates$ | async)?.delete === email.email"
            class="delete-spinner-container"
          >
            <mat-progress-spinner
              [diameter]="24"
              color="primary"
              mode="indeterminate"
            ></mat-progress-spinner>
          </div>
          <button
            data-cy="delete-button"
            class="medium-icon-button"
            *ngIf="
              !email.isPrimary &&
              (loadingStates$ | async)?.delete !== email.email
            "
            mat-icon-button
            aria-label="Remove email address"
            (click)="deleteEmail(email.email)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </li>
    </ul>
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      id="add-email-form"
      class="add-email-form"
    >
      <div class="add-email-form-ui">
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput type="email" formControlName="email_address" />
          <mat-error>
            <span
              *ngIf="
                email_address?.errors?.required || email_address?.errors?.email
              "
            >
              Please enter a valid email address.
            </span>
            <span *ngIf="email_address?.errors?.matchesExistingValidator">
              This email address is already on the list.
            </span>
            <span *ngIf="email_address?.errors?.serverError">
              {{ email_address?.errors?.serverError }}
            </span>
          </mat-error>
        </mat-form-field>
        <gt-loading-button
          buttonText="Add Email Address"
          [loading]="(loadingStates$ | async)?.add"
        ></gt-loading-button>
      </div>
      <mat-error class="server-error" *ngIf="(addEmailError$ | async) !== ''">
        {{ addEmailError$ | async }}
      </mat-error>
    </form>
  </mat-card-content>
</mat-card>
